*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

hr{
    margin: 10px 0 10px 0;
}

.task-container{
    display: block;
    text-align: center;
}

.task-container__input{
    height: 32px;
    padding: 5px;
}

.task-container__button{
    background-color: green;
    color: white;
    border: 0;
    font-size: 10px;
    padding: 10px;
}

.remove-task{
    margin: 5px 0 5px 5px;
    background-color: tomato;
    color: white;
    border: 0;
    font-size: 10px;
    padding: 10px;
}
