* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

hr {
    margin: 10px 0 10px 0;
}

h2 {
    margin: 10px 0 10px 0;
}

.task-container {
    display: block;
    text-align: center;
}

.task-container__input {
    height: 32px;
    padding: 5px;
}

.task-container__button {
    vertical-align: middle;
    background-color: green;
    color: white;
    border: 0;
    font-size: 11px;
    padding: 11px 15px;
}

.new-tasks {
    border: 1px solid grey;
    max-width: 400px;
    margin: 10px auto;
    padding: 10px;
}

.empty-task-list{
    color: red;
    font-weight: bolder;
}

.remove-task {
    margin: 5px 0 5px 0;
    background-color: tomato;
    color: white;
    border: 0;
    font-size: 15px;
    padding: 10px;
}

.done-task {
    margin: 5px 0 5px 0;
    background-color: blue;
    color: white;
    border: 0;
    font-size: 15px;
    padding: 10px;
}

.edit-task {
    margin: 5px 0 5px 5px;
    background-color: orange;
    color: white;
    border: 0;
    font-size: 15px;
    padding: 10px;
}